<% items = @menu.items.where(type: item_type) %>


<div>
  <% if items.any? %>
    <div>
      <h2><%= title %></h2>
      <dl>
        <% items.each do |item| %>
          <% if item.activated? %>
          
            <dt class="max-w-60">
              <% if current_user.is_owner %>
                <%= link_to item_path(item) do %>
                  <%= item.name %>
                  <%= image_tag(item.image, style: "width: 150px; height: 150px;") if item.image.attached? %>
                <% end %>
              <% else %>
                <%= item.name %>
                <%= image_tag(item.image, style: "width: 150px; height: 150px;") if item.image.attached? %>
              <% end %>
            </dt>
            
            <dd>
              <strong><%= item.description %></strong>
            </dd>

            <% if item.portions.any? %>
              <% item.portions.each do |portion| %>
                <dd>
                  <%= portion.description %> - 
                  <%= number_to_currency(portion.price) %>
                  <%= link_to 'Adicionar ao pedido', new_order_order_portion_path(@order, portion_id: portion.id) if @order %>
                </dd>
              <% end %>
            <% end %>
            <hr>
          <% end %>
        <% end %>
      </dl>
    </div>

  <% end %>
</div>