<div>
  <h1>
    Cardápio:
    <span><%= @menu.name %></span>
  </h1>
</div>

<% if @menu.starting_date && @menu.ending_date %>
  <div>
    <Strong>Data de início:</Strong> <%= @menu.starting_date.strftime('%d/%m/%Y') %>
  </div>
  <div>
    <Strong>Data de encerramento:</Strong> <%= @menu.ending_date.strftime('%d/%m/%Y') %>
  </div>
<% end %>

<div class="mt-3 mb-3">
  <%= link_to 'Ir para o pedido', @order if @order%>
</div>

<div>
  <% if @menu.items.any? %>
    <div class="flex space-x-4">

      <div id="dishes_list" class="w-1/2 border-2 pl-6">
        <%= render 'items_list', item_type: 'Dish', title: 'Pratos:'%>
      </div>
      
      <div id="beverages_list" class="w-1/2 border-2 pl-6">
        <%= render 'items_list', item_type: 'Beverage', title: 'Bebidas:'%>
      </div>

    </div>

  <% else %>
    <div class="mt-5 mb-5">
      <h3>Esse cardápio não possui nenhum item cadastrado.</h3>
    </div>
  <% end %>
</div>

<% if current_user.is_owner %>
  <% if @dishes.any? || @beverages.any? %>
    <div>
      <br />
      <%= link_to 'Adicionar item', edit_restaurant_menu_path(@restaurant, @menu)%> 
    </div>

  <% else %>
    <div>
      <p><strong>Não há items para adicionar ao cardápio.</strong></p>
      <span class="mr-2"><%= link_to 'Clique aqui', items_path %></span>para cadastrar mais itens.
    </div>
  <% end %>
<% end %>

<div class="mt-5 mb-5">
  <%= link_to 'Lista de cardápios', restaurant_menus_path(@restaurant) %>
</div>