<div>
  <h1>
    Cardápio:
    <span><%= @menu.name %></span>
  </h1>
</div>

<div>
  <%= link_to 'Ir para o pedido', @order if @order%>
</div>

<div>
  <% if @menu.items.any? %>
    <div id="dishes_list" class="flex space-x-4">

      <div class="w-1/2 border-2 pl-10">
        <%= render 'items_list', item_type: 'Dish', title: 'Pratos:'%>
      </div>
      
      <div id="beverages_list" class="w-1/2 border-2 pl-10">
        <%= render 'items_list', item_type: 'Beverage', title: 'Bebidas:'%>
      </div>

    </div>

  <% else %>
    <div class="mt-5 mb-5">
      <h3>Esse cardápio não possui nenhum item cadastrado.</h3>
    </div>
  <% end %>
</div>

<% if @dishes.any? || @beverages.any? %>
  <div>
    <br />
    <%= link_to 'Adicionar item', edit_restaurant_menu_path(@restaurant, @menu)%> 
  </div>

<% else %>
  <div>
    <p><strong>Não há items para adicionar ao cardápio.</strong></p>
    <span class="mr-2"><%= link_to 'Clique aqui', items_path %></span>para cadastrar mais itens.
  </div>
<% end %>

<div class="mt-5">
  <%= link_to 'Lista de cardápios', restaurant_menus_path(@restaurant) %>
</div>