<div>
  <h1>Funcionários pré-cadastrados:</h1>
</div>

<% if @pre_registers.empty? %>
  <div>
    <h2>Nenhum pré-cadastro realizado.</h2>
    <span>
      Faça o pré-cadastro de um funcionário
      <%= link_to 'clicando aqui', new_pre_register_path %>
    </span>
  </div>
<% else %>
  <div class="mt-5 mb-5">
    <%= link_to 'Novo pré-cadastro', new_pre_register_path %>
  </div>

  <div id="pre_registers_table" class="max-w-[70%]">
    <table>
      <thead>
        <tr>
          <th>E-mail</th>
          <th>CPF</th>
          <th>Cargo</th>
          <th>Status da conta</th>
        </tr>
      </thead>

      <tbody>
        <% @pre_registers.each do |pr| %>
          <tr>
            <td><%= pr.employee_email %></td>
            <td><%= pr.employee_social_number %></td>
            <td><%= pr.position.description %></td>
            <td><%= t(pr.active?) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<% end %>