<div>
  <h1>Marcadores:</h1>
</div>

<div>
  <% if @tags.empty? %>
    <div>
      <p><strong>Você ainda não registrou nenhum marcador para os seus pratos.</strong></p>
      <span><%= link_to 'Clique aqui', new_tag_path %> para registrar seu primeiro marcador!</span>
    </div>
    
  <% else %>
    <div>
      <div>
        <%= link_to 'Novo marcador', new_tag_path %>
        <br />
      </div>
      
      <% @tags.each do |tag| %>
        <div class="flex items-center space-x-4 py-2 border-b">
          <span><%= tag.name %></span>
          <%= link_to 'Editar', edit_tag_path(tag) %>
          <%= button_to 'Excluir', tag, method: :delete,
              class: 'bg-red-500 text-white px-1 py-1 rounded hover:bg-red-700',
              data: { turbo_confirm: 'Tem certeza que deseja excluir esse marcador' }%>
          <br />
        </div>
      <% end %>
    </div>
  <% end %>
</div>