<%= form_with model: @dish do |f| %>
  <% if @dish.errors.any? || @new_tag_errors %>
    <div>
      <h2>Seu prato não pôde ser cadastrado:</h2>
      <ul>
        <% @dish.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <% if @new_tag_errors.any? %>
        <ul>
          <% @new_tag_errors.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>

  <div id="name_field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div id="description_field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div id="calories_field">
    <%= f.label :calories %>
    <%= f.number_field :calories %>
  </div>

  <% if @restaurant.tags.any? %>
    <div id="tags_field" class="flex flex-wrap mt-2 mb-2">
      <%= f.label :tag_ids, class: 'mr-2' %>
      <%= f.collection_check_boxes :tag_ids, @tags, :id, :name do |b| %>
        <div class="mr-2 ml-4"> 
          <%= b.check_box(class: 'mr-1') %>
          <%= b.label(class: 'inline') %>
        </div>
      <% end %>
    </div>
  <% end %>
  
  <div data-controller="tags">
    <div id="new_tags_fields" data-tags-target="newTags">
      <div class="new_tag_field">
        <%= f.label :tag_ids, 'Novo marcador' %>
        <%= f.text_field :tag_ids, name: 'dish[tag_ids][]', value: '', placeholder: "Ex: Vegano" %>
      </div>
    </div>
    <div class="mt-2 mb-2">
      <button type="button" data-action="click->tags#addTag" class="btn-custom">Adicionar mais um marcador</button>
    </div>
  </div>

  <div class="mt-2 mb-2">
    <%= f.label :image, 'Foto do prato' %>
    <%= f.file_field :image %>
  </div>

  <div>
    <%= f.submit 'Enviar', class: 'btn-custom' %>
  </div>
<% end %>