<h1><%= @restaurant.restaurant_name %></h1>
<div>
    <h4>Status: <%= @restaurant.operation_status == 'closed' ? 'Fechado' : 'Aberto' %></h4>
</div>
<div>
    <strong>Razão Social:</strong><%= @restaurant.legal_name %>
    <br />
    <strong>Código:</strong><%= @restaurant.code %>
    <br />
    <strong>CNPJ:</strong><%= @restaurant.registration_number %>
    <br />
    <strong>Endereço:</strong><%= @restaurant.address %>
    <br />
    <strong>Telefone:</strong><%= @restaurant.phone_number %>
    <br />
    <strong>E-mail:</strong><%= @restaurant.email %>
</div>

<br />
<div id="links">
  <p><%= link_to 'Horário de Funcionamento', restaurant_operating_hour_path(@restaurant) %></p>
  <p><%= link_to 'Histórico de preços completo', restaurant_price_history_path(@restaurant) %></p>
  <p><%= link_to 'Cadastrar novo cargo', new_restaurant_position_path(@restaurant)%></p>
</div>
