<h1>Itens do restaurante:</h1>

<div class="mb-5">
  <span style="padding: 30px;">
    <%= link_to 'Registre um prato', new_dish_path %>
  </span>

  <span style="padding: 30px;">
    <%= link_to 'Registre uma bebida', new_beverage_path %>
  </span>
</div>

<% if @tags.any? %>
  <%= form_with url: filter_items_path, method: :get do |f| %>

    <div id="tags_field" class="flex flex-wrap mt-5 border max-w-[70%]">

      <%= f.label :tag_filter_ids, 'Filtrar por:', class: 'mr-2 p-2' %>
      <%= f.collection_check_boxes :tag_filter_ids, @tags, :id, :name do |b| %>
      
        <div class="mr-3 ml-2 pt-2"> 
          <%= b.check_box(class: 'mr-1') %>
          <%= b.label(class: 'inline') %>
        </div>
      <% end %>
      <%= f.submit 'Aplicar', class: 'btn-custom' %>
    </div>
  <% end %>

<% else %>
  <div>
    <p>
      <%= link_to 'Registre um marcador', new_tag_path %>
      para usar filtros.
    </p>
  </div>
<% end %>

<% if @items.empty? %>
  <div>
    <h3>Seu restaurante ainda não possui nenhum item.</h3>
  </div>
  
<% else %>
  <div>
    <br />
    <dl>
      <dt><strong>Pratos:</strong></dt>
      <dd>
        <% @items.each do |item|%>
          <% if item.is_a?(Dish) %>
            <%= link_to item.name, item_path(item) %>
            <br />
          <% end %>
        <% end %>
      </dd>
      <dt><strong>Bebidas:</strong></dt>
      <dd>
        <% @items.each do |item|%>
          <% if item.is_a?(Beverage) %>
            <%= link_to item.name, item_path(item) %>
            <br />
          <% end %>
        <% end %>
      </dd>
    </dl>
    <br />
  </div>
<% end %>
