<h1>Detalhes do item:</h1>

<div>
  <h1><%= @item.name %></h1>

  <% if @item.image.attached? %>
    <div class="image-container">
      <%= link_to image_tag(@item.image, style: "width: 400px; height: 300px"), @item.image, target: '_blank' %>
    </div>
  <% end %>
  
  <div>
    <div>
      <p><strong>Descrição:</strong> <%= @item.description %></p>
    </div>
    <div>
      <% if @item.tags.any? %>
        <p><strong>Características:</strong>
          <%= @item.tags.map(&:name).join(', ')%>
        </p>
      <% end %>
    </div>
    <div>
      <% if @item.type == 'Beverage' %>
        <p><strong>Contém álcool:</strong> <%= @item.alcoholic ? 'Sim' : 'Não' %></p>
      <% end %>
    </div>

    <div>
      <% if @item.calories %>
        <strong>Calorias:</strong> <%= @item.calories %> kcal
      <% end %>
    </div>

    <div>
      <p><strong>Status: </strong> <%= t @item.status %></p>
    </div>
  </div>
  
</div>

<div>
  <% if @item.activated? %>
    <p><%= button_to 'Desativar item', deactivated_item_path(@item.id), class: 'bg-gray-100 px-4 py-2 rounded hover:bg-gray-200' %> </p>
  <% else %>
    <p><%= button_to 'Ativar item', activated_item_path(@item.id), class: 'bg-gray-100 px-4 py-2 rounded hover:bg-gray-200' %> </p>
  <% end %>
</div>

<div>
    <br />
    <%= link_to 'Editar item', @item.type == 'Dish' ? edit_dish_path : edit_beverage_path %>
</div>

<br />

<div>
    <%= button_to 'Excluir item', @item, method: :delete,
        class: 'bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700',
        data: { turbo_confirm: 'Tem certeza de que deseja excluir este item?'} %>
</div>

<h2>Porções:</h2>
<div>
  <p><%= link_to 'Adicionar porção', new_item_portion_path(@item)%> </p>
</div>

<div>
  <% if @item.portions.any? %>
    <% @item.portions.each do |portion| %>
      <dl>
        <dt><%= portion.description %></dt>
        <dd><%= number_to_currency(portion.price) %></dd>
        <dd><%= link_to 'Editar preço', edit_item_portion_path(@item, portion)%></dd>
        <dd><%= link_to 'Histórico de preços', item_portion_price_histories_path(@item, portion) %></dd>
      </dl>
    <% end %>

  <% else %>
    <strong>Nenhuma porção cadastrada para <%= @item.name %>.</strong>
  <% end %>
</div>

<div>
    <br />
    <%= link_to 'Voltar para o menu', items_path %>
</div>