<h1>Cadastro de porção de <%= @item.name %></h1>

<%= form_with model: @portion, url: item_portions_path(@item) do |f| %>

  <% if @portion.errors.any? %>
    <div>
      <h2>Sua porção não pôde ser cadastrada:</h2>
      <ul>
        <% @portion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :price %>
    <%= f.number_field :price, step: 0.01, placeholder: '00.00' %>
  </div>

  <div>
    <br />
    <%= f.submit 'Enviar', class: 'btn-custom' %>
  </div>
<% end %>

<div>
  <br />
  <%= link_to 'Cancelar cadastro', item_path(@item) %>
</div>