<div>
  <h1>Histórico de preços da porção: <%= @item.name %> - <%= @portion.description %></h1>
</div>

<div>
  <table>
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Data de entrada</th>
      </tr>
    </thead>

    <tbody>
      <% @price_histories.each do |ph| %>
        <% item = @restaurant.items.find_by(id: ph.item_id) %>
        <tr>
          <td><%= ph.description%></td>
          <td><%= number_to_currency(ph.price)%></td>
          <td><%= ph.insertion_date.strftime('%d/%m/%Y') %></td>
          <td><%= link_to 'Tabela do item', item_price_history_path(item)  if item %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <p><%= link_to "Voltar para #{@item.name}", item_path(@item) %></p>
  <p><%= link_to 'Lista de itens', items_path %></p>
  <p><%= link_to 'Histórico completo do restaurante', restaurant_price_history_path(@restaurant) %></p>
</div>