<div>
  <h1>Histórico de preços do item: <%= @item.name %></h1>
</div>

<% if @price_histories.any?%>
  <div>
    <table>
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Data de entrada</th>
        </tr>
      </thead>

      <tbody>
        <% @price_histories.each do |ph| %>
          <% item = @restaurant.items.find_by(id: ph.item_id) %>
          <% portion = item.portions.find_by(id: ph.portion_id) if item %>
          <tr>
            <td><%= ph.description%></td>
            <td><%= number_to_currency(ph.price)%></td>
            <td><%= ph.insertion_date.strftime('%d/%m/%Y') %></td>
            <td><%= link_to 'Tabela da porção', item_portion_price_history_path(item, portion) if portion %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div>
    <h2>Histórico de preços vazio.</h2>
    <div>
      <span class="mr-2"><%= link_to 'Registre uma porção', new_item_portion_path(@item) %></span>
            para criar a tabela.
    </div>
  </div>
<% end %>

<br />
<div>
  <p><%= link_to "Voltar para #{@item.name}", item_path(@item) %></p>
  <p><%= link_to 'Lista de itens', items_path %></p>
  <p><%= link_to 'Histórico completo do restaurante', restaurant_price_history_path(@restaurant) %></p>
</div>