<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Paleva" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="prose px-5 max-w-[50%]">
    <div>
      <h1><%= link_to 'PaLevá', root_path %></h1>
    </div>

    <nav>
      <% if user_signed_in? %>
        <span class="flex items-center" >
          Usuário: <%= current_user.name %>
          <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: 'bg-red-100 px-4 py-2 ml-4 rounded hover:bg-red-200' %>
        </span>
        <br />
        <% if current_user.registered_restaurant %>
          <%= link_to 'Meu restaurante', current_user.restaurant %> |
          <%= link_to 'Meu perfil', user_path(current_user) %> |
          <%= link_to 'Cardápios', restaurant_menus_path(current_user.restaurant) %> |
          <%= link_to 'Lista de itens', items_path %> |
          <%= link_to 'Gerenciar marcadores', tags_path %> |
          <%= link_to 'Pedidos', orders_path %>
          <%= form_with url: search_items_path, method: :get do |f| %>
            <%= f.label :query, 'Buscar no menu'%>
            <%= f.text_field :query%>
            <%= f.submit 'Buscar', class: 'btn-custom'%>
          <% end %>
        <% end %>
      <% end %>
    </nav>
    <div>
      <p class="notice" style="color: LimeGreen;"><%= notice %></p>
      <p class="alert" style="color: red;"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
