<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Paleva" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="prose px-9">
    <div>
      <h1><%= link_to 'PaLevá', root_path %></h1>
    </div>

    <nav>
      <% if user_signed_in? %>
        Usuário: <%= current_user.name %>
        <br />
        <% if current_user.registered_restaurant %>
          <%= link_to 'Meu restaurante', current_user.restaurant %> |
          <%= link_to 'Menu do restaurante', items_path %> |
          Meu perfil
        <% end %>
        <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: 'bg-gray-100 px-4 py-2 rounded hover:bg-gray-200' %>
      <% end %>
    </nav>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
